
.login {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.login-input {
    opacity: 0.8;
    width: 200px;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid black;
}
.login-input:hover,
.login-input:active {
    border : 1px solid black
}
.login-btn {
    margin-left: 10px;
    width: 70px;
    height: 46px;

}
.paint-username{
    font-size: 40px;
    font-style: italic;
    color: yellow;
    font-weight: bold;
    text-shadow: 5px 5px 5px red;
}




.hidden {
    display: none;
}